<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
{{ site.author | escape }}
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>

      <script async src="https://eocampaign1.com/form/78b62eb4-7f6e-11ef-bb71-d9cf3717d49e.js" data-form="78b62eb4-7f6e-11ef-bb71-d9cf3717d49e"></script>
    </div>

  </div>

  
</footer>
